/*  your css code here. If applicable */
#container{
margin:20px;
}
#container::before{
content:"Special text before";
color:#f00;
font-size:20px;
display:block;
}
#container::after{
content:"Special text after";
color:#f00;
font-size:20px;
display:block;
}
