#container {
    margin: 20px;
    
}

#container::before {
    content: "Before Element"; /* Change this to whatever text you want */
    color: #f00; /* Red color */
    font-size: 20px; /* Font size */
    top: -30px; /* Adjust as necessary */
    left: 0; /* Aligns to the left of the container */
}

#container::after {
    content: "After Element"; /* Change this to whatever text you want */
    color: #f00; /* Red color */
    font-size: 20px; /* Font size */
   
    bottom: -30px; /* Adjust as necessary */
    left: 0; /* Aligns to the left of the container */
}